body{
      margin:0px;
      padding: 0px;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #fff;
      position: absolute;
}
img{
     cursor: pointer;
}
/* headercss */
.main-header{
      display: flex;
      justify-content: space-between;
      padding: 1.5% 0.1%  1.5% 0.1%;
      box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
      height: 20px !important;
      position: fixed;
      width:100vw;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      background-color: #fff;

      /* position: sticky !important; */

}
.navleft img{
      height: 30px;
      margin: 0px 15px;
}

.navright img{
      height: 30px;
      width: 30px;
      margin: 0px 15px;
      border-radius: 50%;
}


.navright img:hover{
      height: 35px;
      width: 35px;
      margin: 0px 15px;
      border-radius: 50%;
}
.navmiddle{
      padding: 20px;
      border:1px solid  #949191;
      border-radius: 20px;
      display: flex;
      justify-content: space-center;
      align-items: center;
      
}
.navmiddle img{
      height: 20px;
}
/* .navmiddle input{
      border: none !important;
      margin-top: 0px;
      font-size: 16px;
} */




/* sidebar */
.hra{
      color: #000;
}
.main-sidebar{
     width: 15%;
 
     
      height: calc(100vh - 60px);
      position: fixed;
      top: 60px;
      left: 0;
      overflow-y: auto;
      padding-top: 10px;
  }

.main-sidebar a

{
      display: flex;
      justify-content: flex-start;
      padding: 1%;
      margin-left: 1.5%;
      text-decoration: none;
      color:black;
}
.main-sidebar p

{
      display: flex;
      justify-content: flex-start;
      padding: 1%;
      margin-left:8%;
      text-decoration: none;
      color:black;
}


.main-sidebar img

{
      
      padding: 1%;
      margin:  2%;
      height: 30px;
      width: 30px;
      border-radius:50%;
}

.active{
      color:#cd3027 ;
}

/* contentcss */
/* 
.content{
 display: flex;
 justify-content: center;
 width: 100%;
 z-index: -9 !important;

} */
.content {
     
      padding: 20px;
      overflow-y: auto;
      width:100%;
      height: calc(100vh - 60px);
      overflow-x: hidden !important;
      flex: 1;
  }
  .main-content video{
      height:80vh;
     width:100%;
  }
.main-content{
      padding: 1% 16%;
      width: 80%;
      margin-top: 3%;
      height: 20%;
     
}
.main-content img{
      width: 100%;
}
.video-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.video-sub-menu{
   display: flex;
   flex-direction: column;
   padding: 1% 0%;
 

}
.video-sub-menu >a{
      display: flex;
      justify-content: space-evenly;
      padding: 2px;
      text-decoration: none;
       color:#000;

}
.video-sub-menu img{
      height: 200px;
      width: 350px;
      border-radius: 5px;
}
.video-sub-inner{
      margin: 6px 6px;
      width:350px;
      
      
}
.video-sub-inner img{
      height: 35px;
      width:35px;
      border-radius: 50%;
      margin-top: 10px;
}

.video-sub-inner p{
      text-wrap: wrap;
      padding: 0px 10px; 
      /* word-wrap: break-word; */
      font-size: 14px;
      font-weight: 500;
      
}
.btn-contain{
 display: flex;
 justify-content: flex-start;

 margin-bottom: 10px  !important;
}
.video-btn{
      height: 20px;
      background: #e7e5e5;
      padding: 8px ;
      margin: 5px;
      /* border: 1px solid #575454; */
      border-radius: 5px;
}
.activ {
      background: #0f0d0d;
      color:#fff;
}     

.video-btn:hover{
   
      background: #0f0d0d;
      color:#fff;
   
}
/* footercss */

.hidden  {
      display: none !important;
  }

  .content{
      width:100%;
  }

  #video-container{
      height: 800px;
      width: 100%;
      margin: 20px;
  }
  .navmiddle input,
  .navmiddle input:focus,
  .navmiddle input:hover {
      border: none !important;
  }
  .navmiddle input[type="text"] {
      border: none !important;
  }


  /* active */
  .sidebar-link.active {
      background-color: #cac4c4; /* Desired active background color */
      color: red; /* Desired text color */
  }
  
  .sidebar-link img {
      vertical-align: middle;
  }
  
  .sidebar-link p {
      display: inline;
      margin-left: 10px;
  }
  
  .sidebar-link:hover {
      background-color: #d4cece; /* Desired active background color */
      color: red; /* Desired text color */
  }
